# Deriving New Variables

## Objective of Script

In [ ]:
# 1. Derive new variables using if-statements and for-loops
# 2. User-Defined function to sort the products into price ranges with IF-statement
# 3. User-Defined function to sort the products into price ranges with loc()
# 4. Determine how busy each day of the week is using For-loop

## 01. Import Libraries

In [1]:
# Importing libraries 

import pandas as pd
import numpy as np
import os

## 02. Import Dataframes

In [2]:
# Import dataframe, creating shortcut to data file

path = r'/Users/tatumzeliadt/Library/CloudStorage/OneDrive-Personal/Data Analytics/Data Immersion/4 Achievement 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [3]:
# Verify shortcut path

path

'/Users/tatumzeliadt/Library/CloudStorage/OneDrive-Personal/Data Analytics/Data Immersion/4 Achievement 4 Python Fundamentals for Data Analysts/Instacart Basket Analysis'

In [4]:
# Import dataframe orders_products_merged using path shortcut from Prepared Data folder

df_orders_products_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

## 03. Creating subset of dataframe

In [8]:
# Create subset to only view first 1000000 rows in large pickle file

df = df_orders_products_merged[:1000000]

## 04. Dimension Check

In [9]:
# Dimension check of orders_products_merged dataset

df_orders_products_merged.shape

(32404859, 14)

In [10]:
# Check first five rows of orders_products_merged dataset

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [11]:
# Check last five rows of orders_products_merged dataset

df_orders_products_merged.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [12]:
# Dataframe information of orders_products_merged dataset

df_orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
dtypes: category(1), float64(2), int64(10), object(1)
memory usage: 3.4+ GB

In [14]:
# Descriptive statistics of orders_products_merged dataset

df_orders_products_merged.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04

# If-Statements with User-Defined Functions

## 05. Sort products into price ranges

In [15]:
# Defining a function called price_label to use in dataframe to assign range to each row

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [16]:
# Applying the function; Assign flag by applying defined function price_label to dataframe 

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/bt/ybn6h09d7fl28vt1p63pdy480000gn/T/ipykernel_5452/351835174.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [17]:
# Check value counts of new column price_range

df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [ ]:
## Note: No products in the first 1000000 rows exceeds $15

In [19]:
# Check the value of most expensive product within subset

df['prices'].max()

14.8

# If-Statements with the loc() Function

## 06. Sort products into price ranges

In [ ]:
# Using loc() to apply the conditional logic of an if-statement to a function without creating an if-else construct
## Each condition per cell

In [21]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [23]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [24]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [26]:
# Check frequency; value counts of new column price_range

df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

## 07. Insight into what products are being bought on the busiest and slowest day

In [28]:
# Summarize how busy each day of the week is
## 1. Which day most orders take place

df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [ ]:
## Note: Day of week correspond to the following number
###  0 = Saturday to 6 = Friday

In [29]:
# Create a new column 'busiest_day' organizing traffic for each day of the week with three different values

result = []

for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [32]:
# Applying the function (results of list); Create new column in df_orders_products_merged database to view traffic per day

df_orders_products_merged['busiest_day'] = result

In [33]:
# Check frequency; value counts of new column busiest day

df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [34]:
# Dimension check of orders_products_merged dataset

df_orders_products_merged.shape

(32404859, 17)

# Exercise 4.7

In [ ]:
# 4.7.2 Client update: 
## 1. Change “Busiest day” to become “Busiest days” with top two busiest days 
## 2. Change "Lease busy" to "Slowest days" with the bottow two lease busy days

In [35]:
# Create a new column 'busiest_days' organizing traffic for each day of the week with three different values.

resultchange = []

for value in df_orders_products_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    resultchange.append("Busiest days")
  elif value == 3 or value == 4:
    resultchange.append("Slowest days")
  else:
    resultchange.append("Regularly busy")

In [36]:
# Applying the function (results of changed list); Create new column in df_orders_products_merged database to view traffic per day

df_orders_products_merged['busiest_days'] = resultchange

In [37]:
# Check frequency; value counts of changed column busiest days

df_orders_products_merged['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [38]:
# Check first five rows of orders_products_merged dataset

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Slowest days

In [39]:
# Dropping 'busiest day' column as it is a duplicate renamed in dataframe

df_orders_products_merged = df_orders_products_merged.drop(columns = ['busiest day'])

In [40]:
# Recheck first five rows of orders_products_merged dataset

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [41]:
# Dimension check of orders_products_merged dataset

df_orders_products_merged.shape

(32404859, 17)

In [ ]:
## The weekend (Saturday and Sunday) are the busiest days of the week while Tuesday and Wednesday are the slowest.

In [ ]:
# 4.7.4 Identify the busiest hours of the day to identify potential high traffic which is freezing Instacart App
## Group periods of time “Most orders,” “Average orders,” and “Fewest orders" into column “busiest_period_of_day”

In [42]:
### 1. Determine which order_hour_of_day is high, average and low  

df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [44]:
# Create a new column 'busiest_period_of_day' organizing high traffic hours in a day with three different values.

resulthours = []

for value in df_orders_products_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    resulthours.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    resulthours.append("Fewest orders")
  else:
    resulthours.append("Average Days")

In [45]:
# Applying the function (results of list); Create new column in df_orders_products_merged database to view busiest time for orders during day

df_orders_products_merged['busiest_period_of_day'] = resulthours

In [46]:
# Check frequency; value counts of changed column busiest period of day

df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders      21118071
Average Days      9997651
Fewest orders     1289137
Name: busiest_period_of_day, dtype: int64

In [47]:
# Check first five rows of orders_products_merged dataset

df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average Days
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average Days
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average Days
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [48]:
# Dimension check of orders_products_merged dataset

df_orders_products_merged.shape

(32404859, 18)

## 08. Exporting Dataframe

In [49]:
# Exporting dataframe df_orders_products_merged as orders_products_merged_update

df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged_update.pkl'))